<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48919861231-vns28br6ht1mhoetph27tcia0hkq0r6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48919861231-vns28br6ht1mhoetph27tcia0hkq0r6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCEMUvTFjpth2LxmTqoH1oi0pqKEZZS-uE</string>
	<key>GCM_SENDER_ID</key>
	<string>48919861231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Test</string>
	<key>PROJECT_ID</key>
	<string>testtask-45add</string>
	<key>STORAGE_BUCKET</key>
	<string>testtask-45add.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48919861231:ios:21444ae7950d8150de081a</string>
	<key>DATABASE_URL</key>
	<string>https://testtask-45add-default-rtdb.firebaseio.com</string>
</dict>
</plist>